body {
	--color-1: #775e88;
	--color-2: #5b4867;
	--color-3: #45374e;
	--menu-active-page: var(--color-3);
	--second-lang-bloc-title: var(--color-1);
	--sub-title: var(--color-3);
	--home-icon-color: var(--color-3);
}
