body {
	--color-1: #a96d88;
	--color-2: #7e375b;
	--color-3: #600141;
	--menu-active-page: var(--color-3);
	--second-lang-bloc-title: var(--color-1);
	--sub-title: var(--color-3);
	--home-icon-color: var(--color-3);
}

.w-100 {
	width: 100%;
}